<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width">
    <title>Plottio - 404 Not Found</title>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="icon" type="image/png" href="images/p_plottio.png"/>
    <link href="css/style.less" rel="stylesheet/less" type="text/css"/>
    <script type="text/javascript" src="js/less.js"></script>
  </head>
  <body style="background-color: #1abc9c;">
    <div class="container">
      <div class="row row-centered">
        <div class="col-sm-12 text-center">
          <h1 style="color: #fff;">Sorry, I couldn't find a page you typed in...</h1>
          <button type="button" class="btn btn-success btn-lg" style="background-color: #fff;"><a style="color: #1abc9c; text-decoration: none;" href="http://plottio.com">Go back to Plottio</a></button>
        </div>
      </div>
    </div>
  </body>
</html>
