<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width">
    <title>Plottio - Privacy Policy</title>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/font-awesome.min.css" rel="stylesheet"/>
    <link href="css/style.less" rel="stylesheet/less" type="text/css"/>
    <link href="css/blog.less" rel="stylesheet/less" type="text/css"/>
    <link rel="icon" type="image/png" href="images/p_plottio.png"/>
    <link rel="canonical" href="http://plottio.com/policy" />
    <script type="text/javascript" src="js/less.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row clearfix top">
        <div class="col-sm-10 column">
          <div class="jumbotron">
            <p id="logo" class="text-center">
              <a href="http://plottio.com">
                <img id="logo_plottio" src="images/plottio_main.png" alt="plottio">
              </a>
              <span class="blog"> Social</span>
            </p>
            <h2 class="text-center"><em>Our thoughts, ideas and views on Social Journalism.</em></h2>
            <br>
          </div>
        </div>
      </div>
      <div class="row hello blog-header">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="content">
              <h3>OUR IDEA AND PLANS FOR THE FUTURE</h3>
              <span class="blog-date pull-left">August 30th, 2014 |
                  Share with
                  <button id="tw-mobile" type="button" class="btn btn-success btn-xs"><a href="https://twitter.com/home?status=Our%20idea%20and%20plans%20for%20the%20future.%20http:plottio.com/blog%23one" target="_blank">Twitter</a></button>
                  or
                  <button id="fb-mobile" type="button" class="btn btn-success btn-xs"><a href="https://www.facebook.com/sharer/sharer.php?u=http:plottio.com/blog#one" target="_blank">Facebook</a></button>
              </span>
            </div>
        </div>
      </div>
      <div class="row hello blog-post">
        <div class="col-sm-6 col-sm-offset-3">
          <img class="blog-photo" src="images/blog/fb-cover.jpg" alt="work">
          <div class="content">
            <p>
              <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Praesent hendrerit, quam at luctus tincidunt, dui mauris vestibulum metus, quis sagittis nisl neque non metus.
              Donec nibh purus, ultricies ac sollicitudin nec, consectetur vitae justo.
              <br><br>Donec justo turpis, lobortis consequat scelerisque nec, bibendum at arcu. Duis efficitur justo tellus, vel semper lacus semper eget. Suspendisse sollicitudin est dignissim risus viverra, vitae sollicitudin felis mattis. Mauris ullamcorper mi sed magna semper, ut finibus dui elementum. Nullam porttitor euismod odio, vel luctus enim pretium a.
              <br><br>Maecenas neque nibh, euismod ut malesuada vel, congue eget sapien. Donec at urna ut nisi tempus mattis.
              Nulla molestie ullamcorper massa scelerisque pellentesque. Etiam vel dignissim massa.
              Nulla sagittis odio eget libero viverra aliquam. Morbi in lacus tristique, efficitur arcu vitae, facilisis justo.
              <br><br>Phasellus augue lorem, vulputate eget ex id, luctus lacinia dolor. Suspendisse potenti. Ut quis dui sit amet libero maximus varius. Praesent in erat eget augue gravida eleifend. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla ultrices metus vel sem elementum, at facilisis dui vehicula.            </p>
          </div>
        </div>
      </div>
      <hr/>
      <div class="row hello blog-header">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="content">
              <h3 id="two">EVERY PERSON LOOKS AT THE WORLD THROUGH HIS OWN PERSPECTIVE LENSE</h3>
              <span class="blog-date pull-left">August 25th, 2014 |
                  Share with
                  <button id="tw-mobile" type="button" class="btn btn-success btn-xs"><a href="https://twitter.com/home?status=Every%20person%20looks%20at%20the%20world%20through%20his%20own%20perspective%20lense.%20http:plottio.com/blog%23two" target="_blank">Twitter</a></button>
                  or
                  <button id="fb-mobile" type="button" class="btn btn-success btn-xs"><a href="https://www.facebook.com/sharer/sharer.php?u=http:plottio.com/blog#two" target="_blank">Facebook</a></button>
              </span>
            </div>
        </div>
      </div>
      <div class="row hello blog-post">
        <div class="col-sm-6 col-sm-offset-3">
          <img class="blog-photo" src="images/blog/fb-cover2.jpg" alt="work">
          <div class="content">
            <p>
              <br>Vivamus ullamcorper turpis ac leo varius, non placerat ipsum pulvinar.
                  Praesent dolor neque, imperdiet vehicula nibh id, vulputate tincidunt magna.
                  Fusce porta sollicitudin libero, ac lacinia turpis pulvinar in.
                  Nunc vel ante et elit finibus rutrum. Etiam ullamcorper luctus mi at ullamcorper.
                  In malesuada tristique hendrerit. Donec interdum, diam ac pulvinar egestas, urna dolor congue diam, vitae interdum risus mi eu nulla.
                  Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque commodo augue in sem aliquam dictum. Sed vehicula ac ligula id porta.
              <br><br>In sodales neque non odio vulputate egestas. Sed hendrerit nisl in nulla condimentum porta. Fusce commodo ante est, ut rhoncus dolor vulputate nec. Pellentesque finibus convallis nulla, non interdum est posuere eu. Fusce tempor ornare pellentesque. Donec porta sapien sit amet convallis mattis. Mauris fringilla libero eget facilisis iaculis. Praesent ut diam at eros dapibus tincidunt malesuada eu ligula. Donec eleifend turpis sit amet sem tempus varius. Pellentesque mattis consectetur risus sagittis fermentum. Donec sollicitudin leo vel porta faucibus. Mauris vel placerat lacus.              </p>
          </div>
        </div>
      </div>
      <div class="row row-centered footer">
        <div class="col-sm-12 col-centered text-center">
          <em><a href="mailto:support@plottio.com"><i class="glyphicon glyphicon-info-sign"></i>&nbsp;&nbsp;info@plottio.com</a></em>
            &nbsp;&nbsp;&nbsp;&nbsp;
              <button id="tw-connect" type="button" class="btn btn-success btn-lg share tw"><i class="fa fa-twitter"></i></button>
              <button id="fb-connect" type="button" class="btn btn-success btn-lg share fb"><i class="fa fa-facebook"></i></button>
              <button id="in-connect" type="button" class="btn btn-success btn-lg share linkedin"><i class="fa fa-linkedin"></i></button>
            &nbsp;&nbsp;&nbsp;&nbsp;
          <em class="pull-right"><a href="policy" target="_blank">Privacy Policy</a></em>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="js/jquery2.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
  </body>
</html>
