<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width">
    <title>Plottio - Blog</title>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/font-awesome.min.css" rel="stylesheet"/>
    <link href="css/style.less" rel="stylesheet/less" type="text/css"/>
    <link href="css/blog.less" rel="stylesheet/less" type="text/css"/>
    <link rel="icon" type="image/png" href="images/p_plottio.png"/>
    <link rel="canonical" href="http://plottio.com/policy" />
    <script type="text/javascript" src="js/less.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row clearfix top">
        <div class="col-sm-10 column">
          <div class="jumbotron">
            <p id="logo" class="text-center">
              <a href="http://plottio.com">
                <img id="logo_plottio" src="images/plottio_main.png" alt="plottio">
              </a>
              <span class="blog"> Social</span>
            </p>
            <h2 class="text-center"><em>Our thoughts, ideas and views</em><br><br>
              <button type="button" class="btn btn-success btn-lg" style="background-color: #fff;">
                <a style="color: #1abc9c; text-decoration: none;" href="http://plottio.com">Go back to Plottio</a>
              </button>
            </h2>
            <br>
          </div>
        </div>
      </div>
      <div class="row hello blog-header">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="content">
              <h3 id="one">MEDIA BIAS IN THE MODERN WORLD</h3>
              <div class="row">
                <div class="col-sm-8 blog-date">
                  August 31st, 2014 |
                  Share with
                  <button id="tw-mobile" type="button" class="btn btn-success btn-xs"><a href="https://twitter.com/home?status=PlottioSocial%20-%20Media%20Bias%20in%20the%20Modern%20World%20by%20Michael%20http:plottio.com/blog%23one%20%23social%20%23plottio" target="_blank">Twitter</a></button>
                  or
                  <button id="fb-mobile" type="button" class="btn btn-success btn-xs"><a href="https://www.facebook.com/sharer/sharer.php?u=http:plottio.com/blog#one" target="_blank">Facebook</a></button>
                </div>
                <div class="col-sm-4 blog-date">
                  <div class="content profile">
                    by Michael <img class="profile-pic" src="images/p_plottio.png" alt="plottio logo"/>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="row hello blog-post">
        <div class="col-sm-6 col-sm-offset-3">
          <img class="blog-photo" src="images/blog/blog_post_1.png" alt="work">
          <div class="content">
            <p>
              <br>First of all, I would like to suggest considering this article not as a scientific paper, as I am not an expert, but as an entertaining piece that could possibly give you new ideas. I would call this just a casual way of explaining my thoughts.
              <br><br>It is a common thing for us, human species, to put anything under perspective, to recreate facts and skew them in one direction or another.  Most of us do it subconsciously, as our minds are not identical and our ways of understanding events are different. We had different experiences in life. In addition to that, do not forget social conditioning that each of us has gone through until this very moment. A combination of all those things creates this unique “lens”, through which we look at the world and “deform” a fact so it could fit under our reality. I consider this a “non-intentional” bias that in fact makes every story more relatable to others and not as robotic as it could be otherwise. This is a fascinating process, however this is not the main point of this article.
              <br><br>On the other hand, when there is intent in distorting facts, this is a totally different matter. When facts are skewed with purpose of giving a person imposed views on different social or politic issues, this become a real problem. The examples of this are unfortunately easy to find. Think of the last time you turned CNN. It has an obvious liberal “lens” and all reports and articles seem specifically tailored to the CNN’s blueprint, not regarding to what journalist was covering the story.
              <br><br>Unfortunately, this is a case for most major mainstream media. I am not even talking about “artificially created facts” that sometimes could be encountered on the most reputable sources of information. This is the case for Gaza-Israel, Ukraine-Russia, Syria conflicts and others that have been happening in the current world.  I could say that media is an ultimate tool of the new century.
              <br><br>To conclude this, I would like to answer the question that you all probably have been asking yourselves. Yes, I am biased and so are you.
              <br><br>Michael C
          </div>
        </div>
      </div>
      <hr/>
      <!-- <div class="row hello blog-header">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="content">
              <h3 id="two">EVERY PERSON LOOKS AT THE WORLD THROUGH HIS OWN PERSPECTIVE LENSE</h3>
              <div class="row">
                <div class="col-sm-8 blog-date">
                  August 30th, 2014 |
                  Share with
                  <button id="tw-mobile" type="button" class="btn btn-success btn-xs"><a href="https://twitter.com/home?status=Every%20person%20looks%20at%20the%20world%20through%20his%20own%20perspective%20lense.%20http:plottio.com/blog%23two" target="_blank">Twitter</a></button>
                  or
                  <button id="fb-mobile" type="button" class="btn btn-success btn-xs"><a href="https://www.facebook.com/sharer/sharer.php?u=http:plottio.com/blog#two" target="_blank">Facebook</a></button>
                </div>
                <div class="col-sm-4 blog-date">
                  <div class="content profile">
                    by Michael <img class="profile-pic" src="images/p_plottio.png" alt="plottio logo"/>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="row hello blog-post">
        <div class="col-sm-6 col-sm-offset-3">
          <img class="blog-photo" src="images/blog/fb-cover2.jpg" alt="work">
          <div class="content">
            <p>
              <br>Vivamus ullamcorper turpis ac leo varius, non placerat ipsum pulvinar.
                  Praesent dolor neque, imperdiet vehicula nibh id, vulputate tincidunt magna.
                  Fusce porta sollicitudin libero, ac lacinia turpis pulvinar in.
                  Nunc vel ante et elit finibus rutrum. Etiam ullamcorper luctus mi at ullamcorper.
                  In malesuada tristique hendrerit. Donec interdum, diam ac pulvinar egestas, urna dolor congue diam, vitae interdum risus mi eu nulla.
                  Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque commodo augue in sem aliquam dictum. Sed vehicula ac ligula id porta.
              <br><br>In sodales neque non odio vulputate egestas. Sed hendrerit nisl in nulla condimentum porta. Fusce commodo ante est, ut rhoncus dolor vulputate nec. Pellentesque finibus convallis nulla, non interdum est posuere eu. Fusce tempor ornare pellentesque. Donec porta sapien sit amet convallis mattis. Mauris fringilla libero eget facilisis iaculis. Praesent ut diam at eros dapibus tincidunt malesuada eu ligula. Donec eleifend turpis sit amet sem tempus varius. Pellentesque mattis consectetur risus sagittis fermentum. Donec sollicitudin leo vel porta faucibus. Mauris vel placerat lacus.              </p>
          </div>
        </div>
      </div> -->
      <div class="row row-centered footer">
        <div class="col-sm-12 col-centered text-center">
          <em><a href="mailto:support@plottio.com"><i class="glyphicon glyphicon-info-sign"></i>&nbsp;&nbsp;info@plottio.com</a></em>
            &nbsp;&nbsp;&nbsp;&nbsp;
              <button id="tw-connect" type="button" class="btn btn-success btn-lg share tw"><i class="fa fa-twitter"></i></button>
              <button id="fb-connect" type="button" class="btn btn-success btn-lg share fb"><i class="fa fa-facebook"></i></button>
              <button id="in-connect" type="button" class="btn btn-success btn-lg share linkedin"><i class="fa fa-linkedin"></i></button>
            &nbsp;&nbsp;&nbsp;&nbsp;
          <em class="pull-right"><a href="blog" target="_blank">Blog</a> | <a href="policy" target="_blank">Privacy Policy</a></em>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="js/jquery2.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
  </body>
</html>
