<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width">
    <title>Plottio</title>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>
  </head>
  <body>
    <div id="fb-root"></div>
    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=176425879108666&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="container">
      <div class="row clearfix top">
        <div class="col-md-12 column">
          <div class="jumbotron">
            <h1 class="text-center">Plottio</h1>
            <h4 class="text-center"><em>Reinventing Journalism...</em></h4>
            <h4 class="text-center"><em>comming soon...</em></h4>
          </div>
        </div>
      </div>
      <div class="row clearfix bottom">
        <div class="col-md-8">
          <h2>Hi there!</h2>
          <h3>Wouldn’t it be great if:</h3>
          <ul class="list-group">
            <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;You could read/write articles that are created by fellow users in real-time without media bias in between?</li>
            <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;You could show your savvy in areas that you are hooked on and inspire the rest of the world?</li>
            <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;You could read it as an online newspaper interconnected with anyone on the resource?</li>
            <li class="list-group-item"><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;You would not have to stick to 140 characters limit?</li>
          </ul>
          </p>
        </div>
        <div class="col-md-4">
          <h3>Spread the word!</h3>
          <a href="https://twitter.com/share" class="twitter-share-button" data-text="Plottio.com - revolutionizing Journalism! Check it out:) #plottio" data-via="plottio" data-size="large" data-hashtags="social">Tweet</a>
          <script>
            !function(d,s,id){
              var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
              if(!d.getElementById(id)){
                js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';
                fjs.parentNode.insertBefore(js,fjs);
              }
            }(document, 'script', 'twitter-wjs');
          </script>
          <br>
          <div class="fb-share-button fb" data-type="button_count" data-href="http://plottio.com" data-width="200"></div>
        </div>
      </div>
      <div class="row clearfix signup">
        <div class="jumbotron">
          <h3 id="revo">You could be a part of Social Journalism Revolution!</h3>
            <div class="input-group input-group-lg">
              <input type="email" class="form-control" placeholder="Your email" id="email" name="email">
              <span class="input-group-btn">
              <button id="submit" type="submit" class="btn btn-success btn-lg" data-toggle="tooltip" data-placement="right" title="Early Access">
              <span class="glyphicon glyphicon-saved"></span>&nbsp; Join</button>
              </span>
            </div>
        </div>
      </div>
      <!-- Not used so far -->
      <!-- <div class="row clearfix top">
        <div class="jumbotron about">
          <p class="about">
        Write, Read, Share, Connect and Inspire with ease.
        We are revolutionizing social journalism by empowering people to share their stories with the whole world.  Stories that are written by real people for real people with no media bias in between. Ideas that are connected in newspaper-like format and you are an essential part of it. We let you concentrate on the main thing – your thoughts.

        Start plotting now and you might become our new star contributor.
          </p>
        </div>
        </div> -->
      <div class="row clearfix footer">
        <p class="text-center i">
          <em><a href="mailto:support@plottio.com">support@plottio.com</a></em>
          <a href="https://twitter.com/plottio" target = "_blank"><img class="twitter" src="images/twitter.png" alt="twitter"></img></a>
        </p>
      </div>
    </div>
    <script type="text/javascript" src="js/jquery2.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/utils.js"></script>
  </body>
</html>
