<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="google-site-verification" content="T_NXJ32cdelan7z50qjEtkRxXkkhuaERpnK94aO23j4" />
    <meta property="og:image" content="http://plottio.com/images/p_plottio.png" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@plottio">
    <meta name="twitter:title" content="plottio - write, read, share, connect and inspire with ease">
    <meta name="twitter:description" content="We are revolutionizing social journalism by empowering people to share their stories with the whole world.">
    <meta name="twitter:image:src" content="http://plottio.com/images/plottio_img.png">
    <meta name="keywords" content="read, write, share, inspire" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="We are revolutionizing social journalism by empowering people to share their stories with the whole world." />
    <meta name="msvalidate.01" content="C31F522142FD97EA2D041535E1DB9174" />
    <title>plottio - write, read, share, connect and inspire with ease</title>
    <link rel="canonical" href="http://plottio.com" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/social-buttons.css" rel="stylesheet"/>
    <link rel="stylesheet/less" type="text/css" href="css/style.less"/>
    <link rel="stylesheet" type="text/css" href="css/style_prod.css"/>
    <link rel="icon" type="image/png" href="../images/p_plottio.png"/>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" rel="stylesheet" type="text/css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.7.5/less.min.js"></script>
    <script type="text/javascript" src="js/google_analytics.js"></script>
  </head>
  <body>
    <div id="fb-root"></div>
    <div class="container">
      <div class="row clearfix top">
        <div class="col-sm-10 column">
          <div class="jumbotron">
            <p id="logo" class="text-center"><a href="http://plottio.com"><img id="logo_plottio" src="images/plottio_main.png" alt="plottio"></a></p>
            <h2 class="text-center" style="opacity: 1 !important;"><em>Reinventing Journalism</em><br><br>
              <div class="row row-centered hello" style="margin-top: 5px; margin-bottom: 5px;">
                <div class="col-sm-4 col-centered col-sm-offset-4">
                  <div class="item">
                    <div class="content">
                      <p id="revoDown" class="explain" style="margin-top: 5px;">Become a part of our Social Journalism Revolution!</p>
                      <div class="input-group input-group-md">
                        <span id="tool" class="input-group-addon" style="border-radius:0px;border:0px; background: #fff;padding-left: 20px;padding-right: 6px;border-top:1px solid #1abc9c;border-bottom:1px solid #1abc9c;" data-toggle="tooltip" data-placement="top" title="No spaces and no special characters, but '-' and '_' are OK. :)"><i class="fa fa-child"></i></span>
                        <input type="text" class="form-control input-fields" placeholder="Reserve your unique username before it's gone" id="usernameUp" name="username" style="padding-left: 5px;" maxlength="15">
                      </div>
                      <div class="input-group input-group-md">
                        <span class="input-group-addon" style="border-radius:0px;border:0px; background: #fff;padding-left: 17px;padding-right: 5px;border-top:1px solid #1abc9c;border-bottom:1px solid #1abc9c;"><i class="fa fa-envelope-o"></i></span>
                        <input type="text" class="form-control input-fields" placeholder="Your email" id="up" name="email" style="border-left: 0px;padding-left: 5px;">
                      </div>
                      <button id="submitUp" type="submit" class="btn btn-success btn-md" style="letter-spacing: 2px;background-color: #fff;color: #1abc9c;opacity: 1;"> <!--data-toggle="tooltip" data-placement="top" title="Early Access"-->
                      <i class="fa fa-hand-o-right"></i>&nbsp; Participate</button>
                    </div>
                  </div>
                </div>
              </div>
            </h2>
            <div class="row" style="margin-top:15px;margin-bottom: -5px; text-align: center;">
              <div class="col-sm-3" style="opacity: 0.7;">
                <button id="blog" type="button" class="btn btn-success btn-xs" style="background-color: #fff;">
                  <p style="color: #1abc9c; text-decoration: none; margin-bottom: 0px;">Go to PlottioSocial</p>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row hello">
        <div class="col-sm-12 col-centered">
            <div class="content">
              <h1>JUST IMAGINE HOW YOU COULD SHARE WITH THE WORLD</h1>
            </div>
        </div>
      </div>
      <div class="row middle" style="margin-left: 15px; margin-right: 15px; margin-top: 45px;">
        <div class="col-sm-3">
            <img class="center-img" src="images/icons/icon_write_grey.png" alt="write">
            <div class="content">
                <p>
                  Read articles that are created by fellow users in real-time with no media bias in between
                </p>
            </div>
        </div>
        <div class="col-sm-3">
            <img class="center-img" src="images/icons/icon_inspire_grey.png" alt="inspire">
            <div class="content">
                <p>
                  Show your savvy in the areas that you are hooked on and inspire the rest of the world
                </p>
            </div>
        </div>
        <div class="col-sm-3">
            <img class="center-img" src="images/icons/icon_connect_grey.png" alt="connect">
            <div class="content">
                <p>
                  Be interconnected with everyone on the resource and read it as an online newspaper
                </p>
            </div>
        </div>
        <div class="col-sm-3">
            <img class="center-img" src="images/icons/icon_140_grey.png" alt="140">
            <div class="content">
                <p>
                  Free yourself of 140 characters limit while composing your story
                </p>
            </div>
        </div>
      </div>
      <div class="row row-centered pre-join hello screenshot">
        <div class="row" style="margin-bottom: 50px;">
          <div class="col-sm-6">
            <a id="img1" data-toggle="modal" href="#myModal"><img src="images/screen_app/main.png" alt="main" style="height: auto;float:left;border:1px solid #b6b6b6;"></a>
          </div>
          <div class="col-sm-6" style="padding-top: 3%;">
            <h3>The Front Page of Awesomeness.</h3>
            <p style="font-size: 20px;text-align: left;letter-spacing: 1px;font-weight: 300;">
              All categories in one place. There is always something interesting for everyone.  Discover most recent trends, news or check out recommendations of your friends.
            </p>
          </div>
        </div>
        <hr>
        <div class="row" style="margin-bottom: 50px;">
          <div id="edit-mobile" class="col-sm-6">
            <a id="img2" data-toggle="modal" href="#myModal"><img class="edit-scr" src="images/screen_app/edit.png" alt="edit" style="height: auto;float:right;border:1px solid #b6b6b6;"></a>
          </div>
          <div class="col-sm-6" style="padding-top: 20%;">
            <h3>Writing is fun. Edit with ease.</h3>
            <p style="font-size: 20px;text-align: left;letter-spacing: 1px;font-weight: 300;">
              See how your story develops right before your eyes. Touchy topic? We've got you covered with an “Anonymous Posting” feature.
            </p>
          </div>
          <div id="edit-desktop" class="col-sm-6">
            <a id="img4" data-toggle="modal" href="#myModal"><img class="edit-scr" src="images/screen_app/edit.png" alt="edit" style="height: auto;float:right;border:1px solid #b6b6b6;"></a>
          </div>
        </div>
        <hr>
        <div class="row" style="margin-bottom: 0px;">
          <div class="col-sm-6">
            <a id="img3" data-toggle="modal" href="#myModal"><img src="images/screen_app/read.png" alt="read" style="height: auto;float:left;border:1px solid #b6b6b6;"></a>
          </div>
          <div class="col-sm-6" style="padding-top: 10%;">
            <h3>Read. As simple as that.</h3>
            <p style="font-size: 20px;text-align: left;letter-spacing: 1px;font-weight: 300;">
              Clear layout to help you focus on the story. Connect with the author to see the next hit.
            </p>
          </div>
        </div>
        <div class="row clearfix content">
          <button id="join" class="btn btn-success btn-lg" style="background-color: #fff; color: #1abc9c; margin-top: 40px;">CLICK TO PARTICIPATE</button>
        </div>
      </div>
      <div id="signup">
        <div class="row row-centered hello pad-mobile">
          <div class="col-sm-10 col-centered col-sm-offset-1">
            <div class="item">
              <div class="content">
                WRITE, READ, SHARE, CONNECT AND INSPIRE WITH EASE
                <p class="explain">We are revolutionizing social journalism by empowering people to share their stories with the whole world.
                  Stories that are written by real people for real people with no media bias in between. Ideas that are connected in newspaper-like format and you are an essential part of it. We let you concentrate on the main thing – your thoughts.
                  Start plotting now and you might become our new star contributor.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- <hr/> -->
        <div class="row row-centered hello" style="margin-top: 5px; margin-bottom: 5px;">
          <div class="col-sm-6 col-centered col-sm-offset-3">
            <div class="item">
              <div class="content">
                <p id="revoDown" class="explain" style="margin-top: 5px;">Become a part of our Social Journalism Revolution!</p>
                <div class="input-group input-group-lg">
                  <span id="addon" class="input-group-addon add" style="border-radius:0px; background: none;padding-left: 20px;padding-right: 5px;" data-toggle="tooltip" data-placement="top" title="No spaces and no special characters, but '-' and '_' are OK. :)"><i class="fa fa-child"></i></span>
                  <input type="text" class="form-control input-fields" placeholder="Reserve your unique username  before it's gone" id="username" name="username" style="border-left: 0px;" maxlength="15">
                </div>
                <div class="input-group input-group-lg">
                  <span class="input-group-addon add" style="border-radius:0px; background: none;padding-left: 20px;padding-right: 2px;"><i class="fa fa-envelope-o"></i></span>
                  <input type="text" class="form-control input-fields" placeholder="Your email" id="down" name="email" style="border-left: 0px;">
                </div>
                <button id="submitDown" type="submit" class="btn btn-success btn-lg" style="letter-spacing: 2px;"> <!--data-toggle="tooltip" data-placement="top" title="Early Access"-->
                <i class="fa fa-hand-o-right"></i>&nbsp; Participate</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row row-centered centr" style="margin-top: 5px; margin-bottom: 5px;">
          <div class="col-sm-6 col-centered col-sm-offset-3">
            <span class="why-mobile">
              It's free to Sign-Up and easy to Unsubscribe!&nbsp;|
            </span>
            <a class="why" href="http://blog.plottio.com/2014/09/18/next-step/" target="_blank">Learn more</a>
            <span>&nbsp;|</span>
            <a href="policy" target="_blank">Our Privacy Policy</a>
          </div>
        </div>
        <div class="row row-centered share-mobile">
          <div class="col-sm-10 col-centered col-sm-offset-2">
            <div class="content text-center">
              Share with
              <button id="tw-mobile" type="button" class="btn btn-success btn-xs">Twitter</button>
              or
              <button id="fb-mobile" type="button" class="btn btn-success btn-xs">Facebook</button>
            </div>
          </div>
        </div>
      </div>
      <a id="id1"></a>

      <div class="progress">
        <div id="progr" class="progress-bar" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" style="width: 15%;">
          15%
        </div>
      </div>
      <a id="id2"></a>
      <div class="row row-centered footer">
        <div class="col-sm-12 col-centered text-center">
          <em><a href="mailto:support@plottio.com"><i class="glyphicon glyphicon-info-sign"></i>&nbsp;&nbsp;info@plottio.com</a></em>
            &nbsp;&nbsp;&nbsp;&nbsp;
              <button id="tw-connect" type="button" class="btn btn-success btn-lg share tw"><i class="fa fa-twitter"></i></button>
              <button id="fb-connect" type="button" class="btn btn-success btn-lg share fb"><i class="fa fa-facebook"></i></button>
              <button id="in-connect" type="button" class="btn btn-success btn-lg share linkedin"><i class="fa fa-linkedin"></i></button>
            &nbsp;&nbsp;&nbsp;&nbsp;
          <em class="pull-right"><a href="blog" target="_blank">Blog</a> | <a href="policy" target="_blank">Privacy Policy</a></em>
        </div>
      </div>
    </div>
    <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="width: 90%;">
      <div class="modal-content">
        <!-- <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Main page</h4>
        </div> -->
        <div class="modal-body" style="padding: 0px;">
          <img id="img_modal" src="images/screen_app/main.png" alt="connect" style="width: 100%;">
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
    <script type="text/javascript">
      var addthis_share =
        {
        templates: {
          twitter: 'Social Journalism Revolution has been started by @plottio. I am a Supporter. Are you? http://plottio.com',
          facebook: 'Social Journalism Revolution has started. I am a Supporter. Are you? http://plottio.com',
          linkedin: 'Social Journalism Revolution has been started by @plottio. I am a Supporter. Are you? http://plottio.com',
          email_template: 'Social Journalism Revolution has been started by “Plottio”. I am a Supporter. Are you? Check Plottio out: http://plottio.com.'
        }
      }
    </script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52efa6027d2186a4"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/utils.js"></script>
  </body>
</html>
