<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="google-site-verification" content="T_NXJ32cdelan7z50qjEtkRxXkkhuaERpnK94aO23j4" />
    <meta property="og:image" content="http://plottio.com/images/p_plottio.png" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@plottio">
    <meta name="twitter:title" content="plottio - write, read, share, connect and inspire with ease">
    <meta name="twitter:description" content="We are revolutionizing social journalism by empowering people to share their stories with the whole world.">
    <meta name="twitter:image:src" content="http://plottio.com/images/plottio_img.png">
    <meta name="keywords" content="read, write, share, inspire" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="We are revolutionizing social journalism by empowering people to share their stories with the whole world." />
    <title>plottio - write, read, share, connect and inspire with ease</title>
    <link rel="canonical" href="http://plottio.com" />
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/font-awesome.min.css" rel="stylesheet"/>
    <link href="css/social-buttons.css" rel="stylesheet"/>
    <link rel="stylesheet/less" type="text/css" href="css/style.less"/>
    <link rel="stylesheet" type="text/css" href="css/style_prod.css"/>
    <link rel="icon" type="image/png" href="../images/p_plottio.png"/>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="js/less.js"></script>
    <script type="text/javascript" src="js/google_analytics.js"></script>
  </head>
  <body>
    <div id="fb-root"></div>
    <div class="container">
      <div class="row clearfix top">
        <div class="col-sm-10 column">
          <div class="jumbotron">
            <p id="logo" class="text-center"><a href="http://plottio.com"><img id="logo_plottio" src="images/plottio_main.png" alt="plottio"></a></p>
            <h2 class="text-center"><em>Reinventing Journalism</em><br><br>
              <button id="blog" type="button" class="btn btn-success btn-lg" style="background-color: #fff;">
                <p style="color: #1abc9c; text-decoration: none; margin-bottom: 0px;">Go to PlottioSocial</p>
              </button>
            </h2>
            <br>
          </div>
        </div>
      </div>
      <div class="row hello">
        <div class="col-sm-12 col-centered">
            <div class="content">
              <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-mobile">
                  <p id="revoUp" class="explain" style="margin-top: 5px;">Become a part of our Social Journalism Revolution!</p>
                  <div class="input-group input-group-lg">
                    <input type="email" class="form-control" placeholder="Your email" id="up" name="email">
                    <span class="input-group-btn">
                    <button id="submitUp" type="submit" class="btn btn-success btn-lg submit"> <!--data-toggle="tooltip" data-placement="top" title="Early Access"-->
                    <i class="fa fa-hand-o-right"></i>&nbsp; Participate</button>
                    </span>
                  </div>
                </div>
              </div>
              <h1>JUST IMAGINE HOW YOU COULD SHARE WITH THE WORLD</h1>
            </div>
        </div>
      </div>
      <div class="row middle" style="margin-left: 15px; margin-right: 15px; margin-top: 45px;">
        <div class="col-sm-3">
            <img class="center-img" src="images/icons/icon_write_grey.png" alt="write">
            <div class="content">
                <p>
                  Read articles that are created by fellow users in real-time with no media bias in between
                </p>
            </div>
        </div>
        <div class="col-sm-3">
            <img class="center-img" src="images/icons/icon_inspire_grey.png" alt="inspire">
            <div class="content">
                <p>
                  Show your savvy in the areas that you are hooked on and inspire the rest of the world
                </p>
            </div>
        </div>
        <div class="col-sm-3">
            <img class="center-img" src="images/icons/icon_connect_grey.png" alt="connect">
            <div class="content">
                <p>
                  Be interconnected with everyone on the resource and read it as an online newspaper
                </p>
            </div>
        </div>
        <div class="col-sm-3">
            <img class="center-img" src="images/icons/icon_140_grey.png" alt="140">
            <div class="content">
                <p>
                  Free yourself of 140 characters limit while composing your story
                </p>
            </div>
        </div>
      </div>
      <div class="row row-centered pre-join hello">
        <div class="row">
        <div class="col-sm-12">
            <div class="content">
              WRITE, READ, SHARE, CONNECT AND INSPIRE WITH EASE
              <p class="explain">We are revolutionizing social journalism by empowering people to share their stories with the whole world.
                Stories that are written by real people for real people with no media bias in between. Ideas that are connected in newspaper-like format and you are an essential part of it. We let you concentrate on the main thing – your thoughts.
                Start plotting now and you might become our new star contributor.
              </p>
            </div>
        </div>
      </div>
        <div class="row clearfix content">
          <button id="join" class="btn btn-success btn-lg" style="background-color: #fff; color: #1abc9c; margin-top: 40px;">CLICK TO PARTICIPATE</button>
        </div>
      </div>
      <div id="signup">
        <div class="row row-centered hello pad-mobile">
          <div class="col-sm-8 col-centered col-sm-offset-2">
            <div class="item">
              <div class="content">
                WE ARE EXCITED TO SEE YOU ON BOARD!
                <p class="explain justify-mobile">
                  We are pushing our limits to fulfill your expectations as soon as possible. In the meantime, you could enter your e-mail to get an exclusive early
                  access to Plottio!
                </p>
              </div>
            </div>
          </div>
        </div>
        <hr/>
        <div class="row row-centered hello" style="margin-top: 5px; margin-bottom: 5px;">
          <div class="col-sm-10 col-centered col-sm-offset-1">
            <div class="item">
              <div class="content">
                <p id="revoDown" class="explain" style="margin-top: 5px;">Become a part of our Social Journalism Revolution!</p>
                <div class="input-group input-group-lg">
                  <input type="email" class="form-control" placeholder="Your email" id="down" name="email">
                  <span class="input-group-btn">
                  <button id="submitDown" type="submit" class="btn btn-success btn-lg"> <!--data-toggle="tooltip" data-placement="top" title="Early Access"-->
                  <i class="fa fa-hand-o-right"></i>&nbsp; Participate</button>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row row-centered share-mobile">
          <div class="col-sm-10 col-centered col-sm-offset-2">
            <div class="content text-center">
              Share with
              <button id="tw-mobile" type="button" class="btn btn-success btn-xs">Twitter</button>
              or
              <button id="fb-mobile" type="button" class="btn btn-success btn-xs">Facebook</button>
            </div>
          </div>
        </div>
      </div>
      <a id="id1"></a>

      <div class="progress">
        <div id="progr" class="progress-bar" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" style="width: 15%;">
          15%
        </div>
      </div>
      <a id="id2"></a>
      <div class="row row-centered footer">
        <div class="col-sm-12 col-centered text-center">
          <em><a href="mailto:support@plottio.com"><i class="glyphicon glyphicon-info-sign"></i>&nbsp;&nbsp;info@plottio.com</a></em>
            &nbsp;&nbsp;&nbsp;&nbsp;
              <button id="tw-connect" type="button" class="btn btn-success btn-lg share tw"><i class="fa fa-twitter"></i></button>
              <button id="fb-connect" type="button" class="btn btn-success btn-lg share fb"><i class="fa fa-facebook"></i></button>
              <button id="in-connect" type="button" class="btn btn-success btn-lg share linkedin"><i class="fa fa-linkedin"></i></button>
            &nbsp;&nbsp;&nbsp;&nbsp;
          <em class="pull-right"><a href="blog" target="_blank">Blog</a> | <a href="policy" target="_blank">Privacy Policy</a></em>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      var addthis_share =
        {
        templates: {
          twitter: 'Social Journalism Revolution has been started by @plottio. I am a Supporter. Are you? http://plottio.com',
          facebook: 'Social Journalism Revolution has started. I am a Supporter. Are you? http://plottio.com',
          linkedin: 'Social Journalism Revolution has been started by @plottio. I am a Supporter. Are you? http://plottio.com',
          email_template: 'Social Journalism Revolution has been started by “Plottio”. I am a Supporter. Are you? Check Plottio out: http://plottio.com.'
        }
      }
    </script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52efa6027d2186a4"></script>
    <script type="text/javascript" src="js/jquery2.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/utils.js"></script>
  </body>
</html>
