<div class="row clearfix signup">
  <div class="jumbotron">
    <h3 id="revo">You could be a part of Social Journalism Revolution!</h3>
      <div class="input-group input-group-lg">
        <input type="email" class="form-control" placeholder="Your email" id="email" name="email">
        <span class="input-group-btn">
        <button id="submit" type="submit" class="btn btn-success btn-lg" data-toggle="tooltip" data-placement="right" title="Early Access">
        <span class="glyphicon glyphicon-saved"></span>&nbsp; Join</button>
        </span>
      </div>
  </div>
</div>
