<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width">
    <title>Plottio - Privacy Policy</title>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/font-awesome.min.css" rel="stylesheet"/>
    <link href="css/style.less" rel="stylesheet/less" type="text/css"/>
    <link rel="icon" type="image/png" href="images/p_plottio.png"/>
    <script type="text/javascript" src="js/less.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row row-centered">
        <div class="col-sm-8 col-sm-offset-2">
          <h2 class="text-center">Email Settings</h2>
          <h3>It is sad to see you unsubscribing...</h3>
          <p>
            Provide your email to unsubscribe from Plottio.
          </p>
          <p>
            <div class="input-group input-group-lg">
              <input type="email" class="form-control" placeholder="Your email to unsubscribe" id="unsubscribe-email" name="email_remove">
              <span class="input-group-btn">
                <button id="unsubscribe" type="submit" class="btn btn-success btn-lg">
                  &nbsp; Unsubscribe
                </button>
              </span>
            </div>
            <br>
            <button type="button" class="btn btn-success btn-lg"><a style="color: #fff; text-decoration: none;" href="http://plottio.com">Go back to Plottio</a></button>
            <p id="after-success"></p>
          </p>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="js/jquery2.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/unsubscribe.js"></script>
  </body>
</html>
