<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width">
    <title>Plottio - Unsubscribe</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/style.less" rel="stylesheet/less" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="css/style_prod.css"/>
    <link rel="icon" type="image/png" href="images/p_plottio.png"/>
    <link rel="canonical" href="http://plottio.com/unsubscribe" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.7.5/less.min.js"></script>
  </head>
  <body style="background-color: #1abc9c;">
    <div class="container">
      <div class="row row-centered">
        <div class="col-sm-8 col-sm-offset-2" style="background-color: #fff;">
          <h1 class="text-center">Email Settings - Plottio</h1>
          <h2 style="color: #333; margin-bottom: 5px;">We are sad to see you go. It will not be the same without you.</h2>
          <p>
            You can still change your mind
          </p>
          <p>
            <div class="input-group input-group-lg">
              <input type="email" class="form-control" placeholder="Your email to unsubscribe" id="unsubscribe-email" name="email_remove">
              <span class="input-group-btn">
                <button id="unsubscribe" type="submit" class="btn btn-success btn-lg"><i class="fa fa-times"></i>
                  Unsubscribe
                </button>
              </span>
            </div>
            <br>
            <button type="button" class="btn btn-success btn-lg"><a style="color: #fff; text-decoration: none;" href="http://plottio.com">Go back to Plottio</a></button>
            <p id="after-success"></p>
          </p>
        </div>
      </div>
      <div style="position: absolute; bottom: 0; width: 100%;" class="row row-centered footer">
        <div class="col-sm-12 col-centered text-center">
          <em><a href="mailto:support@plottio.com"><i class="glyphicon glyphicon-info-sign"></i>&nbsp;&nbsp;info@plottio.com</a></em>
            &nbsp;&nbsp;&nbsp;&nbsp;
              <button id="tw-connect" type="button" class="btn btn-success btn-lg share tw"><i class="fa fa-twitter"></i></button>
              <button id="fb-connect" type="button" class="btn btn-success btn-lg share fb"><i class="fa fa-facebook"></i></button>
              <button id="in-connect" type="button" class="btn btn-success btn-lg share linkedin"><i class="fa fa-linkedin"></i></button>
            &nbsp;&nbsp;&nbsp;&nbsp;
          <em class="pull-right"><a href="blog" target="_blank">Blog</a> | <a href="policy" target="_blank">Privacy Policy</a></em>
        </div>
      </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/unsubscribe.js"></script>
  </body>
</html>
