// Color variables
@main_color_green: #1abc9c;
@white: #fff;
@footer: #ECF0F1;
@dark_grey: #333333;
@twitter: #4099FF;
@facebook: #3B5998;
@linkedin: #4875B4;

#logo_plottio {
  width: 20%;
  height: auto;
}
hr {
  border-color: @main_color_green !important;
  border-width: 20px;
}
.blog-date a {
  color: @white;
  text-decoration: none;
}
.blog-date a:hover {
  color: @white;
  text-decoration: none;
}
.blog {
  color: @white;
  font-size: 50px;
}

.hello {
  margin-top: 5px;
  margin-bottom: 5px;
}
.blog-header {
  margin-bottom: 10px;
  text-align: left;
}

.blog-date {
  font-size: 10px;
  text-align: left;
  letter-spacing: 0.6px;
}
.blog-post {
  margin-top: 0px;
}

.blog-post p {
  font-size: 20px;
  text-align: left;
  letter-spacing: 0.6px;
  line-height: 1.5;
  font-weight: 200;
}

.blog-photo {
  width: 100%;
  height: auto;
}
