body {
  background-color: #fff;
}
h1 a{
  font-size: 120px !important;
  color: #fff !important;
  letter-spacing: 3px;
  margin-bottom: -10px;
  width: inherit;
}
h1 a:hover {
  text-decoration: none;
}
h4 {
  color: #fff;
  opacity: 0.7;
  letter-spacing: 0.5px;
  margin-bottom: -10px;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.jumbotron {
  background-color: #1abc9c;
  padding-bottom: 5px;
  margin-bottom: 0px;
  border-radius: 0px;
}
.progress {
  border-radius: 0px;
  width: 50%;
  margin: 0 auto;
}
.progress-bar {
  background-color: #e54850;
}
#progr:hover {
  opacity: 0.8;
}
.top {
  padding-top: 30px;
}
.bottom {
  margin: 0 auto;
  width: 90%;
}
.bottom .col-md-8 {
  width: 75%;
}
.bottom .col-md-4 {
  width: 24%;
}
.top .jumbotron {
  padding-bottom: 60px;
  border-radius: 0px;
  width: 100%;
}
.bottom .jumbotron {
  background-color: #fff;
  padding-top: 0px;
  width: 72%;
  padding-right: 5px;
}
.col-md-12, .container, .column {
  width: 100%;
  padding: 0px;
  border-radius: none;
}

.list-group, .list-group-item {
  padding-left: 15px;
  width: auto;
  background-color: #fff;
  border: none;
  font-size: 16px;
}
button, input, .btn-sm {
  border-radius: 0px !important;
}
.fb {
  padding-top: 0px;
}
.social span {
  padding-top: 0px;
  vertical-align: top !important;
}
.col-md-4 * {
  border-radius: 0px !important;
}

.signup .jumbotron{
  margin: 0 auto;
  padding: 0px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 30px;
  background-color: #fff;
}
.btn-success {
  background-color: #1abc9c;
  border-color: #1abc9c;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active {
  background-color: #1abc9c;
  border-color: #1abc9c;
  opacity: 0.8;
}
.btn-success.disabled:hover,
.btn-success.disabled:focus,
.btn-success.disabled:active,
.btn-success.disabled.active,
.btn-success[disabled]:hover,
.btn-success[disabled]:focus,
.btn-success[disabled]:active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success:hover,
fieldset[disabled] .btn-success:focus,
fieldset[disabled] .btn-success:active,
fieldset[disabled] .btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #1abc9c;
  border-color: #1abc9c;
}

/*.btn-success, .btn-success:disabled, .btn-success:active, .btn-success:focus, .btn-success:after {
  background-color: #1abc9c;
  border-color: #1abc9c;
}
.btn-success:hover {
  background-color: #1abc9c;
  border-color: #1abc9c;
  opacity: 0.8;
}*/
#pen img{
  width: 100%;
  height: auto;
}
#signup .jumbotron {
  width: 100%;
}
#signup .signup {
  width: 100%;
  padding: 0px;
  margin-left: 30px;
  margin-right: 30px;
}
.about {
  font-size: 17px;
  text-align: justify;
  line-height: 2.4;
  color: #333;
}
/* Not used
@media (min-width: 50px) and (max-width: 600px){
  .about {
    padding-right: 0px;
    margin-left: 15px;
    margin0right: 15px;
  }
}
*/
@media
and (min-width : 420px) {
  body {
    color: red !important;
  }
}
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
  /*body {
    color: red;
  }*/
  .container {
    width: 120%;
  }
  .container .container {
    width: 100%;
  }
  /*.input-group{
    width: 90%;
  }
  .bottom .col-md-8, #signup .col-md-12 {
    width: 90%;
  }
  .bottom .col-md-4 {
    width: 70%;
  }
  #signup .col-md-4 {
    width: 90%;
    height: auto;
  }
  .jumbotron {
    width: 130%;
  }*/
}
.twitter {
  height: 28px;
  width: auto;
  padding-left: 40px;
}
.twitter:hover {
  opacity: 0.8;
}

#join {
  width: 100%;
}
.footer {
  margin-top: 20px;
  margin-bottom: 0px;
  background-color: #000;
  height: 40px;
  background-color: #ECF0F1;
  padding-top: 5px;
}

#logo a:link {
  color: #000;
}

/** Variant with pics **/
.hello {
  text-align: center;
  font-size: 16px;
}
.explain {
  font-size: 16px;
  text-align: left;
}
.pre-join {
  margin-bottom: 30px;
}
.icons {
  font-size: 16px;
}
.icons p {
  display: inline;
  text-indent: -10px;
}
.row2 {
  margin-top: 40px;
  margin-bottom: 20px;
}
.center-img {
  width: 25%;
  display: block;
  margin: 0 auto;
}
.content {
  display: block;
  margin: 0 auto;
}
.container {
  line-height: 1.8;
}
.row {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.btn-twitter {
  color: #333;
}
.btn-twitter:hover *{
  color: #fff;
}
.btn-twitter a {
  color: #333;
}
.btn-twitter a:hover {
  text-decoration: none;
}
#revo {
  text-align: center;
}
/****/
